name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Package
      run: |
         sudo apt-get update
         sudo apt-get install git -y

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push App Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./app/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/app:latest

    - name: Build and push JSON Server Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./data/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/json-server-data:latest

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies Including Ansible
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi

    - name: Set up SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SECRET_KEY }}
    - name: Setup SSH Public Key
      run: |
       mkdir -p ~/.ssh
       echo "${{ secrets.PUBLIC_KEY }}" > ~/.ssh/id_rsa.pub
       chmod 644 ~/.ssh/id_rsa.pub

        
    - name: Execute your Python script
      run: |
       python -m pip install pexpect
       python my_script.py

    - name: Deploy UserService
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: ansible/all.yml
        inventory: ${{ secrets.INVENTORY }}
        key: ${{ secrets.SECRET_KEY }}
        options: --verbose
        vault_password: ${{ secrets.VAULT_PASSWORD }}

      
